<section class="row align-items-center justify-content-center p-4">
  <div class="col-md-5 text-center">

    <!-- Fine Circle Responsive Image -->
    <div class="container">
      <div class="align-items-center justify-content-center">
        <div class="circle-image mx-auto" style="background-image: url('{{ site.author.picture }}');"></div>
      </div>
    </div>

  </div>

  <div class="col-md-6 text-left">
    <div class="container mt-4">
      <h3 class="font-weight-bold">Olá, eu sou <span style="color:#007bff">Arthur Carvalho</span>! </h3>
      <h3>cientista de dados</h3>
      <p class="pt-3" style="color: #6c757d">
        Transformo planilhas em relatórios, dados em gráficos claros e
        prevejo o futuro — quase como um oráculo, só que usando Python ao invés de magia. 😎
      </p>
    </div>
  </div>
</section>

<section class="justify-content-center p-4 align-items-start">
  <div class="col-lg-11 mx-auto markdown-body">
    <h3 class="font-weight-bold text-center">Quem sou eu?</h3>
    <p>Formado em Engenharia Elétrica pela UERJ, me apaixonei pela área de dados, o que me levou a me tornar cientista
      de dados. Acredito no poder da análise de dados para impulsionar a inovação, com especial interesse em engenharia
      de dados e Machine Learning.</p>

    <p>Moro no Rio de Janeiro, onde equilibro a vida profissional com hobbies como corrida de rua, trilhas e maratonas
      de
      The Office. Também gosto de ler e me aventurar em novos desafios, sempre buscando oportunidades de aprendizado e
      colaboração.</p>
    <p>Confira meus <a href="/projects">projetos</a> e veja o que ando estudando e pensando no <a
        href="/projects">blog</a>. Se gostar de algo, vamos <a href="/contact">conversar!</a></p>

  </div>
</section>

<section class="justify-content-center p-4 align-items-start">
  <div class="container">
    <h3 class="font-weight-bold text-center">Main skills</h3>
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="big card border-0">
          <div class="row row-skills align-items-center">
            <div class="col-lg-2 col-4 skill">
              <i class="fab fa-python fa-skill" data-toggle="tooltip" title="Python" data-placement="bottom"
                alt="python"></i>
            </div>
            <div class="col-lg-2 col-4 skill">
              <img class="img-skill" src="../assets/skills_imgs/r.webp" alt="r-lang" data-toggle="tooltip" title="R"
                data-placement="bottom" />
            </div>
            <div class="col-lg-2 col-4 skill">
              <img class="img-skill" src="../assets/skills_imgs/postgresql.webp" alt="postgresql" data-toggle="tooltip"
                title="PostgreSQL" data-placement="bottom" />
            </div>
            <!--
            <div class="col-lg-2 col-4 skill">
              <i class="fab fa-js fa-skill" alt="javascript" data-toggle="tooltip" title="JavaScript"
                data-placement="bottom"></i>
            </div>
            -->
            <div class="col-lg-2 col-4 skill">
              <img class="img-skill" src="../assets/skills_imgs/bash.webp" alt="bash" data-toggle="tooltip" title="Bash"
                data-placement="bottom" />
            </div>
          </div>
          <h5 class="card-title-skills">Languages</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="big card border-0">
          <div class="row row-skills align-items-center">
            <div class="col-4 skill">
              <img class="img-skill" src="../assets/skills_imgs/pandas.webp" alt="pandas" data-toggle="tooltip"
                title="Pandas" data-placement="bottom" />
            </div>
            <div class="col-4 skill">
              <img class="img-skill" src="../assets/skills_imgs/scikit.webp" alt="scikit-learn" data-toggle="tooltip"
                title="scikit-learn" data-placement="bottom" />
            </div>
          </div>
          <h5 class="card-title-skills">Libraries</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="big card border-0">
          <div class="row row-skills align-items-center">
            <div class="col-3 skill">
              <i class="fab fa-git fa-skill" alt="git" data-toggle="tooltip" title="Git" data-placement="bottom"></i>
            </div>
            <div class="col-3 skill">
              <i class="fab fa-docker fa-skill" alt="docker" data-toggle="tooltip" title="Docker"
                data-placement="bottom"></i>
            </div>
            <div class="col-3 skill">
              <img class="img-skill" src="../assets/skills_imgs/azure.webp" alt="azure" data-toggle="tooltip"
                title="Azure" data-placement="bottom" />
            </div>
            <div class="col-3 skill">
              <img class="img-skill" src="../assets/skills_imgs/airflow.webp" alt="airflow" data-toggle="tooltip"
                title="Airflow" data-placement="bottom" />
            </div>
          </div>
          <h5 class="card-title-skills">Technologies</h5>
        </div>
      </div>
    </div>
  </div>
</section>
